[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
User=prometheus
Group=prometheus
Type=simple
Restart=on-failure
RestartSec=5s
ExecStart=/opt/prometheus-2.52.0.linux-amd64/prometheus \
  --config.file=/opt/prometheus-2.52.0.linux-amd64/prometheus.yml \
  --storage.tsdb.path=/prometheus-data/ \
  --web.console.templates=/opt/prometheus-2.52.0.linux-amd64/consoles \
  --web.console.libraries=/opt/prometheus-2.52.0.linux-amd64/console_libraries \
  --web.listen-address=0.0.0.0:9090 \
  --web.enable-lifecycle

[Install]
WantedBy=multi-user.target
